<div class="jumbotron">

    <h1>My quotes</h1>
    <!-- <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>  -->
    <div *ngFor='let quote of quotes ,let i = index'>

        <div class="quotes">
            <p>{{quote.id}}.  {{quote.author}}</p>
            <p> {{quote.state}}</p>
            <p> {{quote.user}}</p>
            <p> {{quote.day|dateCount}} days ago</p>
            <button type="button" class="btn btn-info" (click)='upVotes(i)'>Upvote{{quote.upvotes}}</button>
            <button type="button" class="btn btn-info"(click)='downVotes(i)'>Downvote{{quote.downvotes}}</button>
            <button type="button" class="btn btn-info" (click)= 'deleteQuote($event,i)'>Delete quote</button>
            
        </div>
        <app-quote-detail></app-quote-detail>
    </div>
</div>
