<div class="jumbotron">

  <h1>My quotes</h1>

  <div *ngFor='let quote of quotes ,let i = index'>

    <div class="quotes">
      <p>{{quote.id}}. {{quote.author}}</p>
      <p> {{quote.state}}</p>
      <p> {{quote.user}}</p>
      <p> {{quote.day|dateCount}} days ago</p>
      <button type="button" class="btn btn-info" (click)='upVotes(i)'>Upvote{{quote.upvotes}}</button>
      <button type="button" class="btn btn-info" (click)='downVotes(i)'>Downvote{{quote.downvotes}}</button>
      <button type="button" class="btn btn-info" (click)='deleteQuote($event,i)'>Delete quote</button>

    </div>
    <app-quote-detail></app-quote-detail>
  </div>
</div>

<div class="container">
  <h1>MY QUOTES </h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let quote of quotes;let i = index'>


        <div *ngIf='quote.showDescription'>
          <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>

    <!-- <div class="col-md-6">
        <app-quote-form> </app-quote-form>
      </div> -->
    <!-- </div> -->
    <p *ngIf='quotes.length > 5'>You have too many quotes</p>
